* {
    margin: 0px;
    padding: 0px;
    /*font-size: 12px;*/
}
ul, li {
    list-style: none;
}
a {
    color: #515151;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
a:visited,a:hover,a:link {
    text-decoration: none;
}
.elem-hidden {
    display: none;
}
/*==note radius==*/
/*-webkit-border-radius: 5px;*/
/*-moz-border-radius: 5px;*/
/*border-radius: 5px;*/



body {
    background: url("../img/bg.jpg") no-repeat;
}
.clearfix {
    zoom: 1;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.common-top {
    height: 60px;
    background: url("../img/bgw3.png") repeat-x bottom;
    /*border-bottom: 1px #d1c9cb solid;*/
}

.common-logo {
    width: 150px;
    height: 48px;
    float: left;
    /*background: #f3dfdf;*/
    background: #f9e9e9b3;
    border-radius: 20px;
    margin: 5px 15px 0 10px;
}
.common-logo a img {
    width: 113px;
    height: 37px;
    margin-top: 6px;
    margin-left: 18px;
}

.common-title {
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: 1px;
    padding-top: 1px;
    color: #F7F7F7;
    display: inline-block;
}
.common-title i.line {
    content: "";
    border-left: 1px solid #F7F7F7;
    position: relative;
    height: 13px;
    left: -8px;
    top: 2px;
    display: inline-block;
}


.common-tools {
    float: right;
}
.common-nav {
    font-size: 14px;
    float: left;
    margin-top: 15px;
    position: relative;
}
.common-nav p {
    height: 30px;
    line-height: 30px;
    padding: 0px 15px 0px 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #fff;
    cursor: pointer;
}
.common-nav p span {
    float: left;
}
.common-nav p i{
    display: block;
    width: 0px;
    height: 0px;
    float: right;
    border-top: 6px #999 solid;
    border-left: 3px transparent solid;
    border-right: 3px transparent solid;
    border-bottom: 0px;
    margin: 12px 0px 0px 20px;
}
.common-select {
    width: 100px;
    border-top: 1px #ddd solid;
    padding: 5px 10px;
    line-height: 40px;
    background-color: #fff;
    right: 0px;
    z-index: 998;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}

.common-top-messages {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    margin: 15px 20px 0px 20px;
    background: url("../img/hd-icon.png") -60px -10px;
    position: relative;
}
.common-top-messages-namber {
    display: block;
    height: 16px;
    font-size: 8px;
    line-height: 16px;
    padding: 0px 6px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #cc3366;
    color: #fff;
    position: absolute;
    left: 16px;
    top: -2px;
    font-weight: bold;
    font-family: arial;
}

/*主页*/
.home-content {
    min-height: 660px;
}
.content-title p {
    float: left;
    font-size: 20px;
    margin: 0;
}
.home-content {
    padding: 20px 20px 20px 20px !important;
    margin: 0px auto;
    position: relative;
}
.home-content .content-title {
    background: url(../img/bgw2.png);
    padding: 10px 20px;
    line-height: 30px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 2px;
}
/*搜索*/
.content-search {
    padding: 10px 20px;
    background: url(../img/bgw2.png);
}
.content-search .btn-tab {
    padding: 10px 20px;
    background: url(../img/bgw2.png);
}
.content-search .tit-tab {
    float: left;
    margin: 0;
}
.tit-tab li {
    float: left;
    margin-right: 5px;
}
.tit-tab li a:hover, .tit-tab li a.current {
    background-color: #cc3366;
    color: #fff;
    text-decoration: none;
}
.tit-tab li a {
    display: block;
    height: 20px;
    line-height: 20px;
    color: #333;
    padding: 0px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


/*中间任务列表*/
.thumbnail-list {
    padding-top: 20px;
}
.thumbnail-list .thumbnail-box {
    width: 25%;
    height: 180px;
    float: left;
    padding-right: 20px;
    position: relative;
    margin-bottom: 20px;
}
.thumbnail-newtask {
    display: block;
    width: 100%;
    height: 180px;
    padding-top: 30px;
    text-align: center;
    font-size: 16px;
    color: #cc3366;
    background: url(../img/bgw6.png);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}
.thumbnail-newtask:hover {
    text-decoration: none;

}
.thumbnail-newtask span {
    display: block;
    width: 30px;
    height: 30px;
    margin: 32px auto 10px;
    background: url(../img/bg.png) -660px -360px;
}
.thumbnail-newtask p {
    font-size: 16px;
}
.box3 {
    background: url(../img/bgw3.png);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}
.thumbnail-list .thumbnail-box .box3 {
    padding: 10px 10px 10px 114px;
    height: 180px;
}
.thumbnail-left {
    width: 94px;
    position: absolute;
    left: 16px;
    top: 10px;
    text-align: center;
    line-height: 18px;
    margin-top: 26px;
}
.thumbnail-left p {
    margin-top: 15px;
}
.circle-text {
    line-height: 90px;
    height: 90px;
    border: 3px solid #e670ac;
    border-radius: 45px;
}
.circle-text span {
    font-size: 16px;
    line-height: 83px;
}
.circle-text img {
    width: 86px;
    height: 84px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    border: 3px #fff solid;
}

/*.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
}
.circle-info, .circle-info-half {
    color: #999;
}
.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
}*/
.pink {
    color: #cc3366;
}

/*======*/
.thumbnail-right {
    margin-left: 20px;
}
/*.thumbnail-right p {
    margin: 0px;
    padding: 0px;
    color: #999;
    font-size: 12px;
}*/
.user-name {
    line-height: 30px;
    padding: 10px 19px 10px 0px;
}
.user-name b {
    width: 96px;
}
.user-name b {
    float: left;
    margin-right: 5px;
    color: #cc3366;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-name b img {
    margin: 0px 0px -3px 0px;
}
.user-profile {
    line-height: 26px;
    font-size: 12px;
    font-family: "微软雅黑";
}
.task_list {
    background: url(../img/bgw2.png);
    margin-top: 2px;
    min-height: 300px;
    padding-left: 20px;
}
.task_list dt {
    font-weight: inherit;
    line-height: inherit;
}
.delete-font {
    font-size: 16px;
}
.delete-font-msg {
    margin-left: 30px;
}
.user-profile dt {
    color: #999;
}
.user-profile span {
    color: #999;
}


.thumbnail-list .thumbnail-box .guanbi {
    display: none;
    position: absolute;
    right: -7px;
    top: -7px;
}

.guanbi {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -8px;
    right: -8px;
    background: url(../img/bg.png) -315px -15px;
    z-index: 2;
}


/*添加任务*/
/*遮罩*/
#xubox_shade1, #xubox_layer2 {
    display: none;
}
.xubox_shade {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    _height: expression(document.body.offsetHeight+"px");
}
.xubox_shade, .xubox_layer {
    position: fixed;
    _position: absolute;
}
#xubox_layer2 {
    z-index: 19891017;
    width: 678px;
    height: auto;
    position: absolute;
    margin-left: -339px;
    top: 60px;
    left: 50%;
}
#xubox_layer2, .xubox_main {
    background-color: rgb(255, 255, 255);
    z-index: 19891016;
    height: 500px;
}
#step_one1 .tcc-tit {
    height: 33px;
    padding: 0px 24px;
    line-height: 32px;
    font-size: 16px;
    background-color: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}

#step_one1 .search_form {
    width: 518px;
    font-size: 16px;
    line-height: 19px;
    padding: 8px 20px 8px 58px;
    margin: 24px 0 0 79px;
    outline: none;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    display: inline-block;
    color: #555;
    border: 1px solid #ccc;
}
.search_content {
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    top: 95px;
    left: 0;
    z-index: 1000;
}
.search_content_area {
    width: 517px;
    position: relative;
    overflow: hidden;
    max-height: 410px;
    display: inline-block;
    -moz-box-shadow: 0 0 10px 0 #999;
    -webkit-box-shadow: 0 0 10px 0 #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #999;
    background: #fff;
}
.search_content_area p.p01 {
    padding: 12px 36px;
}
.search_content_area p {
    border-bottom: #ddd dashed 1px;
    text-align: left;
}
.grey6 {
    color: #666;
}
.fs12 {
    font-size: 12px;
}
.search_content .down_arrow {
    display: block;
    float: left;
    width: 9px;
    height: 13px;
    margin: 2px 10px 0 0;
    background: url(../img/down_arrow.png);
}
.p20 {
    padding: 10px;
}
.fr {
    /*display: none;*/
    float: right;
}
.small_button {
    width: 80px;
    line-height: 24px;
    background: #cc3366;
    font-size: 12px;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.small_button:hover {
    color: #fff;
}
.mr10 {
    margin-right: 10px;
}
/*user data*/
.search_content_area li {
    padding: 5px 20px;
    text-align: left;
    cursor: pointer;
}
.search_content_area li:hover {
    background: #eee;
}
.border_dashed {
    border-bottom: #ccc dashed 1px;
}
.fang_user_list p.user_list_weixin {
    float: left;
    margin: 2px 0 0 0;
    background-size: cover;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.fang_user_list p.user_list_weixin span {
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.fang_user_list i {
    float: left;
    font-size: 14px;
    padding: 0 36px 0 20px;
    -height: 40px;
}
.bean_vermicelli {
    float: left;
    padding: 4px 0 0 20px;
    font-size: 14px;
}
.bean_vermicelli b {
    float: left;
    display: block;
    width: 12px;
    height: 12px;
    margin: 3px 5px 0 0;
}
.girl_tb {
    background: url(../img/girl_tb.png);
}

.boy_tb {
    background: url(../img/boy_tb.png);
}
.fang_user_list em {
    float: left;
    font-size: 12px;
}
.user_em {
    padding-left: 10px;
}
i, em {
    font-style: normal;
}
/*确认用户*/
.point_alert_base .tcc {
    z-index: 19891016;
    position: absolute;
    top: -180px;
    left: 0;
    bottom: 0px;
    right: 0;
    margin: auto;
    height: 340px;
    width: 600px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.tcc-tit {
    height: 33px;
    padding: 0px 24px;
    background-color: #eee;
    line-height: 33px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    font-size: 18px;
}
.point_alert_base .guanbi {
    z-index: 2 !important;
    opacity: 10!important;
}
.point_alert_base .jftx-dsxh p i {
    color: #c00;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
}
.point_alert_base .jftx-dsxh p {
    text-align: center;
    font-size: 16px;
    color: #666;
}
.point_alert_base .jftx-btn {
    display: block;
    width: 130px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: #cc3366;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 20px auto 0px auto;
    transition: background-color 0.3s ease-out;
}



/*底部*/
.common-bottom {
    padding: 20px 0px;
    background: url(../img/bgw6.png);
    font-size: 12px;
    position: absolute;
    width: 100%;
    line-height: 20px;
    z-index: 0;
    text-align: center;
}